pip

ipykernel
ipympl

tensorflow_federated
#tensorflow # tensorflow_federated requires
nest_asyncio
#numpy # tensorflow_federated requires
pandas
matplotlib
Pillow # Image processing
scapy[complete] # pcap processing
