pip

tensorflow_federated
#tensorflow # tensorflow_federated requires
nest_asyncio

ipykernel
#numpy # tensorflow_federated requires
pandas
matplotlib
pydot
pydotplus
graphviz
ipympl
scapy[complete]

Pillow
