pip
setuptools

tensorflow
tensorflow_federated
nest_asyncio

jupyter
jupyterlab
## https://github.com/matplotlib/jupyter-matplotlib
# jupyter labextension install @jupyter-widgets/jupyterlab-manager
# jupyter labextension install jupyter-matplotlib
ipykernel
numpy
pandas
matplotlib
pydot
pydotplus
graphviz
ipympl
scapy[complete]

Pillow
